
@{
    ViewData["Title"] = "홈";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

  <!--아래부터 다음주석까지 뷰 인덱스에 복사-->
<!--홈-->


<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Sihyeon
                <span class="text-primary">Jang</span>
            </h1>
            <div class="subheading mb-5">
                Based In Busan · South Korea
                <a> · </a>
                <a href="mailto:name@email.com"> jangse4233@gmail.com</a>
            </div>
            <p class="lead mb-3">Phone-Number : 010 - 1111 - 2222</p>
            <p class="lead mb-3">Birth : 2000 - 06 - 07</p>
            <p class="lead mb-3">Zodiac Sign :  Dragon </p>
            <p class="lead mb-5">MBTI : ISTP-T </p>
            <div class="social-icons">
                <a class="social-icon" href="https://instagram.com/abra.xax?igshid=MjEwN2IyYWYwYw=="><i class="fab fa-instagram"></i></a>
                <a class="social-icon" href="https://github.com/jangsihyeon"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="typing mb-5 ">Welcome My Resume👻</h2>
            <p>안녕하세요. 데이터 분석과 개발 직무를 희망하는 지원자 장시현 입니다. 웹페이지로 제작된 포트폴리오를 확인해보시고 궁금한점이 있으시다면 About Me에 있는 연락처 혹은 메일로 연락 부탁드립니다. </p>
            <p class="mb-0">Hello. Im applicant Si Hyeon Jang who wants to work in Data Analysis & Programming. If you want to ask me about this portfolio, plaese contact the Phone Number and Email in "About me".  </p>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">careers</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">KST Short-term Intership</h3>
                    <div class="subheading mb-3">AI-Data 구축팀</div>
                    <p>데이터 라벨링 및 구축</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">July - August 2022</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">BNK Capital Middle-term Intership</h3>
                    <div class="subheading mb-3">고객만족팀 </div>
                    <p>상담 고객만족도 분석 및 정리, 업무이관부서 및 이관업무 정리 보고, AI 챗봇 고객 만족도 분석 및 일일 보고</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September - December 2022</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Iot System Developer Education</h3>
                    <div class="subheading mb-3">부경대학교 인력자원개발센터</div>
                    <p>프로그래밍 역량 강화 및 미니 프로젝트, 최종 프로젝트</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Jenuary - September 2023</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">University of Kyung Sung</h3>
                    <div class="subheading mb-3">경성대학교</div>
                    <div>전공 : 응용통계학과 </div>
                    <div>복수전공 : 소프트웨어학과</div>
                    <p>GPA: 3.23</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">March 2019 - August 2023</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Kyung Hye Girls High School</h3>
                    <div class="subheading mb-3">경혜여자고등학교</div>
                    <p>특이사항 : 인문계열 졸업 및 교내 학생회 총무기획부 부/차장 </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">March 2016 - February 2019</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-5">개발 언어 & 도구</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fa-solid fa-database"></i></li>
                <li class="list-inline-item">+</li>
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                <li class="list-inline-item">+</li>
                <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                <li class="list-inline-item">+</li>
                <li class="list-inline-item"><i class="fab fa-python"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-file-excel"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-r"></i></li>
                <li class="list-inline-item">+</li>
                <li class="list-inline-item"><i class="fa-brands fa-wpforms"></i></li>
                <li class="list-inline-item"><i class="fa-brands fa-raspberry-pi"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-c"></i></li>
               
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Mobile-First, Responsive Design
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Browser Testing & Debugging
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Functional Teams
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Agile Development & Scrum
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
    
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">portfolio </h2>
            <p class="subheading mb-5">See detail Project & Code - <a class="social-icon" href="https://github.com/jangsihyeon"><i class="fa-brands fa-square-github"></i></a></p>
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <p class="subheading mb-3">Iot Portfolio Web App</p>
                        <br />
                        <img src="/themes/Finaltheme/assets/img/aspnet06.gif" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <p class="subheading mb-3">Web Album Using Bootstrap </p>
                        <br />
                        <img src="~/themes/Finaltheme/assets/img/Day03_album.gif" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <p class="subheading mb-3">Pinterest Style Web</p>
                        <br />
                        <img src="~/themes/Finaltheme/assets/img/Pinterest.gif" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <p class="subheading mb-3">Movie Find App</p>
                        <br />
                        <img src="~/themes/Finaltheme/assets/img/wpf03.gif" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <p class="subheading mb-3">Dust Viewer App</p>
                        <br />
                        <img src="~/themes/Finaltheme/assets/img/wpf04.gif" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
</div>